@import "tailwindcss";

/* Hide scrollbar for the entire body */
body {
    overflow: hidden;  /* Hides the scrollbar */
  }
  
  body::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, and newer Edge */
  }
  
  body {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }  

  .hide::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, and newer Edge */
  }